*{
    box-sizing: border-box;
    transition: all .5s;
}
#header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
}

#header div{
    margin-left: auto;
    margin-right: auto;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu span{
    margin-right: 30px;
    font-size: 20px;
}
.registration{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.registration >span{
    margin-right: 30px;
}

.ContactUs{
    width: 170px;
    height: 48px;
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.delivery{
    min-height: 680px; 
}

.dilevery__info {
    display: flex;
    flex-direction: row;
    color: white;
    background: rgb(91,82,163);
    background: linear-gradient(90deg, rgba(91,82,163,1) 0%, rgba(64,184,234,1) 100%);
    border-radius: 36px;
}

.dilevery__info-elem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 100px;
}
.dilevery__info-location{
    width: 715px;
    height: 240px;
    font-size: 72px;
}
.dilevery__info-advertising{
    width: 706px;
    height: 126px;
    font-size: 20px;
}
.dilevery__info-span{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 260px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dilevery__info-img{
    display: flex;
    align-items: center;
}




.benefit{
    min-height: 893px;
    margin-top: 160px;
}
.benefit-info > h1{
    margin-left: 200px;

}



.benefit-tabs{
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
}
.benefit-tabs >div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all .2s;
}
.benefit-tabs >div:hover{
    background-color: #d0d0d0;
    border-radius: 16px;
    scale: 1.1;
    cursor: pointer;
}

.tovar_info{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 54px;
    justify-content: center;
}
.data{
    margin-top: 33px;
}

.price_info-img{
    width: 400px;
    height: 120px;
    background-color: #F2F6FC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 18px;
}
.price_info-text{
    font-size: 26px;
    padding-top: 80px;
}
.price{
    font-size: 26px;
}
.tovar_info-img-first{
    width: 120px;
    height: 120px;
    margin-top: 163px;
}
.tovar_info-img-last{
    width: 120px;
    height: 120px;
    margin-top: 163px;
    margin-left: 330px;
}
.advantage_info{
    width: 1400px;
    height: 180px;
    background-color: #8A8A8A1A;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}
.advantage_info > div>div{
    transition: all .2s;
    
}
.advantage_info > div>div:hover{
    scale: 1.1;
    cursor: pointer;
}
.advantage_info > div>div{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
}
.advantage_info > div>div>img{
    padding-right: 26px;
    padding-left: 78px;
}
.advantage_info > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage_info-saving{
    width: 174px;
    height: 135.5px;
    margin-left: 51px;
    margin-right: 71px;
}
.advantage_info-products{
    width: 322px;
    height: 135.5px;
    border-left: 1px solid #C0C9D7
}
.advantage_info-prompt{
    width: 284px;
    height: 135.5px;
    margin-left: 67px;
    margin-right: 74px;
    border-left: 1px solid #C0C9D7
}
.advantage_info-tovar{
    width: 295px;
    height: 135.5px;
    margin-right: 62px;
    border-left: 1px solid #C0C9D7
}

.online_trade-info{
    width: 1800px;
    height: 480px;
    background: rgb(91,82,163);
    background: linear-gradient(90deg, rgba(91,82,163,1) 0%, rgba(64,184,234,1) 100%);
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 160px;
}
.online_trade-position{
    display: flex;
    flex-direction: row;
}
.online_trade-img{
    width: 402px;
    height: 405px;
    margin-left: 260px;
    margin-top: 38px;
}
.online_trade-info-text{
    margin-top: 111px;
    margin-left: 75px;
    width: 763px;
    height: 257px;
}
.online_trade-info-text-first{
    font-size: 30px;
    font-weight: 700;
}
.online_trade-info-text-last{
    font-size: 18px;
    font-weight: 400;
}
.online_trade-info-span{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.okey_post-info{
    width: 1400px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
}
.okey_post-info-text-first{
    font-size: 44px;
    font-weight: 800;
    color: #1F2428;
    width: 824px;
}
.okey_post-info-text-last{
    font-size: 20px;
    font-weight: 300;
    color: #1F2428;
    width: 760px;
}
.location_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 46px;
}
.location_info>div{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #1F2428;
}
.location_info>div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.location_info>div>p{
    margin: 0;
    height: 18px;
}
.location_info>div>div>p{
    margin: 0;
    height: 18px;
}
.location_info>div>div>img{
    width: 26px;
    height: 26px;
    margin-right: 15px;
}
.okey_post-info-location{
    height: 270px;
    background-color: #8A8A8A1A;
    border-radius: 16px;
}
.location_info-from{
    width: 246px;
    height: 75px;
    margin-right: 25px;
}
.location_info-city{
    width: 247px;
    height: 75px;
    margin-right: 24px;
}
.location_info-index{
    width: 247px;
    height: 75px;
    margin-right: 24px;
}
.location_info-weight{
    width: 247px;
    height: 75px;
    margin-right: 25px;
}
.location_info-services{
    width: 246px;
    height: 75px;
}
.okey_post-info-span{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 35px;
    margin-top: 32px;
}


.delivery_options-info{
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 438px;
    margin: 0 auto;
}
.delivery_options-info-item{
    display: flex;
    flex-direction: column;
}
.options_item-info{
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    border-radius: 16px;
    height: 104px;
    align-items: center;
}
.options_item-info-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 350px;
    margin-left: 29px;
    width: 270px;
    font-size: 18px;
    font-weight: 700;
}
.options_item-info-img img{
    width: 52px;
    height: 52px;
    margin-right: 27px;
}
.options_item-group{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 82px;
    border-left: 1px solid #1F2428;
    padding-left: 57px;
    justify-content: center;
    margin-left: 50px;
}
.options_item-group :nth-child(1){
    font-size: 14px;
    height: 18px;
    margin: 0;
    width: 129px;
}
.options_item-group :nth-child(2){
    font-size: 20px;
    height: 16px;
    margin: 0;
    font-weight: 700;
}
.steps-info{
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;
}
.steps-info span{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 30px;
}
.steps-info >p{
    font-size:20px;

}
.steps-info-item{
    display: flex;
    flex-direction: row;
    width: 328px;
    height: 412px;
    gap: 30px;
}
.steps-info-img img{
    width: 280px;
    height: 280px;
}
.steps-info-img-text{
    font-size: 20px;
    font-weight: 700;
}

.tour{
    margin-top: 150px;
}
.tour_info{
    width: 1800px;
    height: 480px;
    background: rgb(91,82,163);
    background: linear-gradient(90deg, rgba(91,82,163,1) 0%, rgba(64,184,234,1) 100%);
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 160px;
}
.tout_info-img{
    width: 402px;
    height: 405px;
    margin-left: 260px;
    margin-top: 38px;
}
.tour_info-elem{
    margin-top: 111px;
    margin-left: 75px;
    width: 763px;
    height: 257px;
}
.tour_info-elem-h1{
    width: 824px;
}
.tour_info-elem-text{
    font-size: 18px;
    font-weight: 400;
}
.tour_info-elem-span{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client_info{
    margin-left: 200px;
    margin-right: 200px;
}
.client_info-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.client_info-cards-elem{
    width: 447px;
    height: 250px;
    padding: 35px;
    background-color: #FAFAFA;
}
.client_info-cards-elem-p{
    font-size: 18px;
    font-weight: 700;
}
.reviews{
    margin-top: 80px;
}
.reviews >div>h1{
    margin-left: 200px;
}
.reviews_info{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
}
.reviews_info-elem{
    display: flex;
    flex-direction: row;
    width: 685px;
    height: 260px;
    background-color: #FAFAFA;
    border-radius: 16px;
    align-items: center;
}
.reviews_info-elem >img{
    width: 240px;
    height: 240px;
    margin-left: 10px;
    margin-right: 38px;
}
.star{
    font-size: 20px;
    color:#FFA009;
}
.reviews_info-elem-position{
    display: flex;
    flex-direction: column;
}
.text_info{
    width: 1400px;
    height: 467px;
    font-size: 18px;
    margin-left: 200px;
    margin-right: 200px;
}
.email{
    width: 1800px;
    height: 250px;
    background: rgb(91,82,163);
    background: linear-gradient(90deg, rgba(91,82,163,1) 0%, rgba(64,184,234,1) 100%);
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 160px;
}
.email_info{
    display: flex;
    flex-direction: row;
}
.email_info > h1{
    width: 482px;
    height: 120px;
    margin-top: 66px;
    margin-left: 200px;
}
.email_info_elem{
    width: 513px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 108px;
    margin-left: 114px;
}
.email_info_elem > img{
    width: 26px;
    height: 26px;
}
.email_info_elem_span{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
    margin-left: 51px;
}

.footer{
    
    width: 100%;
    height: 474px;
}
.footer_info{
   display: flex;
    flex-direction: row; 
}
.footer_info-elem-img{
    margin-top: 70px;
    margin-left: 260px;
    margin-right: 166px;
}
.footer_info-elem{
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-top: 86px;
}
.footer_info-elem-company{
    display: flex;
    flex-direction: column;
}
.footer_info-elem-useful{
    display: flex;
    flex-direction: column;
}
.footer_info-elem-project{
    display: flex;
    flex-direction: column;
}
.copyright{
    display: flex;
    width: 1800px;
    height: 57px;
    border-top: 1px solid #1F2428;
    align-items: center;
    justify-content: center;
}

.footer_info-elem span {
    display: block;
    cursor: pointer;
}

span:hover{
    scale: .9;
    cursor: pointer;
}

.reviews_info-elem:hover {
    scale: .9;
    cursor: pointer;
}