*{
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
#header div{
    margin-left: auto;
    margin-right: auto;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu span{
    margin-right: 30px;
    font-size: 20px;
}
.registration{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.registration >span{
    margin-right: 30px;
}

.ContactUs{
    width: 170px;
    height: 48px;
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.delivery{
    width: 1800px;
    height: 680px;
    background: rgb(91,82,163);
    background: linear-gradient(90deg, rgba(91,82,163,1) 0%, rgba(64,184,234,1) 100%);
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    color: white;
}

.deliveryDiv1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 100px;
}
.Div1InDelivery1{
    width: 715px;
    height: 240px;
    font-size: 72px;
}
.Div2InDelivery1{
    width: 706px;
    height: 126px;
    font-size: 20px;
}
.getAddres{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 260px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deliveryDiv2{
    display: flex;
    align-items: center;
}

.benefit{
    width: 1400px;
    height: 893px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
}
.tabs{
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 100px;
    margin-top: 40px;
    
}
.tabs div{
    width: 100%;
    height: 100%;
}

.tovar{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 54px;
}
.data{
    margin-top: 33px;
}

.imgPrice{
    width: 400px;
    height: 120px;
    background-color: #F2F6FC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 18px;
}
.text{
    font-size: 26px;
    padding-top: 80px;
}
.price{
    font-size: 26px;
}
.layer1{
    width: 120px;
    height: 120px;
    margin-top: 163px;
}
.layer2{
    width: 120px;
    height: 120px;
    margin-top: 163px;
    margin-left: 330px;
}
.advantage{
    width: 1400px;
    height: 180px;
    background-color: #8A8A8A1A;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}
.advantage > div>div{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
}
.advantage > div>div>img{
    padding-right: 26px;
    padding-left: 78px;
}
.advantage > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.group1{
    width: 174px;
    height: 135.5px;
    margin-left: 51px;
    margin-right: 71px;
}
.group2{
    width: 322px;
    height: 135.5px;
    border-left: 1px solid #C0C9D7
}
.group3{
    width: 284px;
    height: 135.5px;
    margin-left: 67px;
    margin-right: 74px;
    border-left: 1px solid #C0C9D7
}
.group4{
    width: 295px;
    height: 135.5px;
    margin-right: 62px;
    border-left: 1px solid #C0C9D7
}

.onlineTrade{
    width: 1800px;
    height: 480px;
    background: rgb(91,82,163);
    background: linear-gradient(90deg, rgba(91,82,163,1) 0%, rgba(64,184,234,1) 100%);
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 160px;
}
.onlinePosition{
    display: flex;
    flex-direction: row;
}
.onlineImg{
    width: 402px;
    height: 405px;
    margin-left: 260px;
    margin-top: 38px;
}
.onlineText{
    margin-top: 111px;
    margin-left: 75px;
    width: 763px;
    height: 257px;
}
.onlineFirstP{
    font-size: 30px;
    font-weight: 700;
}
.onlineLastP{
    font-size: 18px;
    font-weight: 400;
}
.onlineSpan{
    background: rgb(0,201,123);
    background: linear-gradient(90deg, rgba(0,201,123,1) 0%, rgba(0,217,129,1) 100%);
    border-radius: 36px;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
