.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#containerElemImg{
    display: flex;
    width: 600px;
}
img{
    width: 200px;
    height: 200px;
}
#img0, #img1, #img2 {
    transition: transform 0.5s ease-in-out;
}
